*{
    font-weight: 700;
}
.fondo{
    padding-top: 18%;
    background-color: #EBEBEB;
    align-items: center;   
}

h5 h3{
    font-family: 'Fira Sans', sans-serif; 

}

.card{
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:  3vw; 
    
} 

.card-title{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    margin-top: 10%;
    font-size: 4vw;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    display:grid;
    grid-template-columns: repeat(3 , 1fr); 
    margin: 2%;
    
}

.card-body{
    color: rgb(0, 0, 0);
    background-color: #EBEBEB;
    opacity: 0.8;
}

.card-text{
    margin-top: 1%;
    font-size: 2vw;   
}
.marca-modelo-txt{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}


.button{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
}
@media screen and (max-width:1280px){
    
.card{
    
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px; 
} 
    .cards-container{
        display: flex;
        justify-content: center;
        align-items: center; 
        display:grid;
        grid-template-columns:repeat(4 ,1fr)
    }
}

@media screen and  (max-width:810px) {
       
.card{
    
    height: auto;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px; 
} 
    .cards-container{
        display: flex;
        justify-content: center;
        align-items: center; 
        display:grid;
        grid-template-columns:repeat(2 ,1fr)
    }
}

 
@media screen and  (max-width:390px) {
       
    .card{
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20%; 
    } 
    .cards-container{
        display: flex;
        justify-content: center;
        align-items: center; 
        display:grid;
        grid-template-columns:repeat(1 ,1fr);            
    }
    .fondo{
        padding-top: 18%;
        background-color: #EBEBEB;
        background: none !important;
        align-items: center;   
    }
    .card{
    
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-bottom:  6vw;  */
        
    } 
    
    .card-title{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1%;
        margin-top: 5%;
        font-size: 8vw;
    }
    .card-text{
        margin-top: 3%;
        font-size: 4vw;   
    }

}