<!-- <p *ngIf="carsCargados">cargaron los usuarios</p> -->
<!-- solo aparesca si ya cargaron los usuarios -->
<app-banner></app-banner>

<div class="fondo">
  <div class="row cards-container ">
    <div *ngFor="let carCargado of carsCargados">

      <div class="card">
        <img class="card-img-top" src="https://loremflickr.com/320/240/car" alt="imagen aleatoria" />
        <div class="card-body">
          <p class="card-text">{{ carCargado.age }}</p>
          <h5 class="card-title">{{ carCargado.marca | uppercase}} {{ carCargado.modelo | uppercase }}</h5>      
          <h3 class="card-text">{{ carCargado.precio | currency}}</h3>
          <!-- <p class="card-text">Transmision: {{ carCargado.transmision }}</p> -->
          <!-- <button type="button" (click)="getCar(carCargado._id)">VER</button> -->
          <button class="button btn btn-outline-dark" type="button" routerLink="/dashboard/carros/{{carCargado._id}}">VER</button>
        </div>
      </div>

    </div>
  </div>
</div>