.banner{
    /* display: flex; */
    height: 300px;
    position: center;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    justify-content: center;
    text-align: center;
}
.img{
    
    padding-top: 5%;
    text-align: center;
    
}

@media screen and (max-width:810px) {
    .banner{
        /* display: flex; */
        height: 300px;
        position: center;
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        justify-content: center;
        text-align: center;
    }
    .img{
        
        padding-top: 5%;
        text-align: center;
        width: 90vw;
        
    }
    
    
}
@media screen and (max-width:375px) {
    .banner{
        display: none;
    }
   
    
}


/* .txt-banner{

} */