<div class="contacto">
  <div class="formulario-contacto">
    <h1>¿Necesitas ayuda?</h1>
    <h3>Déjanos tus datos y tu mensaje y nos contactaremos contigo</h3>
    <form [formGroup]="contactForm" (submit)="enviarFormulario()">
      <div>
        <label for="nombre" class="form-label">Nombre</label  >
        <input type="text" formControlName="name"
        [ngClass]="{'inputError': contactForm.controls['name'].errors && contactForm.controls['name'].touched}"
        class="form-control" id="nombre">
        <p class="mensajeError" *ngIf="contactForm.controls['name'].errors && contactForm.controls['name'].touched">
          El campo Nombre es obligatorio</p>
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control"
        [ngClass]="{'inputError': contactForm.controls['email'].errors && contactForm.controls['email'].touched}"
        formControlName="email" id="email">

        <p class="mensajeError" *ngIf="contactForm.controls['email'].errors && contactForm.controls['email'].touched">
          El campo Nombre es obligatorio</p>
      </div>
      <div>
        <label for="asunto" class="form-label">Asunto</label>
        <input type="text" formControlName="subject" 
        [ngClass]="{'inputError': contactForm.controls['subject'].errors && contactForm.controls['subject'].touched}"
        class="form-control" id="asunto">
        <p class="mensajeError" *ngIf="contactForm.controls['subject'].errors && contactForm.controls['subject'].touched">
          El campo Nombre es obligatorio</p>
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" formControlName="message" id="mensaje" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn btn-primary mb-3" [disabled]="enviando">Enviar</button>
    </form>
  </div>
</div>

