<div class="contacto">
  <div class="formulario-contacto">
  <form action="enviar.php" method="post">

    <div>
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" name="name" class="name" id="name" >
    </div>
    <div>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="text" name="mail" class="email" id="mail" >
    </div>
    <div>
        <label for="exampleFormControlInput1" class="form-label">Telefono</label>
        <input type="text" name="phone" class="subject" id="subject" >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
      <textarea class="message" name="message" heigth="80" id="message" rows="3"></textarea>
    </div>
  </form>
    <button type="submit" class="btn btn-light ">Light</button>
  </div>
  </div>
