<div class="container text-center principal">
  <div class="col-sm-4 " class="container">
    <div class="logo class= text-center">
        <img src="../../../../assets/img/logo_2_Mesa_de_trabajo_1.png" class="img-fluid ">
    </div>
    <div>
      <h1>Debes registrarte primero !!</h1>
    </div>
    <div class="cont-form">
        <button type="submit" class="btn btn btn-primary mb-3 botones" routerLink="/auth/registrarse">registrarte</button>
        <button type="submit" class="btn btn btn-primary mb-3 botones" routerLink="/auth/ingresar">Ingresar</button>
    </div>
  </div>
</div>
