<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img class="img-logo" src="../../../../assets/img/logo_2_Mesa_de_trabajo_1.png" alt="">
            
            <div class="footer-social">
                <a class="icon"><i class="bi bi-whatsapp" ></i> </a> 
                <a class="icon"><i class="bi bi-facebook"></i></a> 
                <a class="icon"><i class="bi bi-instagram"></i> </a>
                <a class="icon"><i class="bi bi-google"></i></a>
            </div>
        </div>
        <div class="footer-links">
            <strong>Carros</strong>
            <ul>
                <li><a >Suv</a></li>
                <li><a>Convertible</a></li>
                <li><a>Sedan</a></li>
                <li><a >Sports</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <strong>Carros</strong>
            <ul>
                <li><a >Coupe</a></li>
                <li><a >Minivan</a></li>
                <li><a >Pickup</a></li>
                <li><a >Hatchback</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <strong>Contactanos</strong>
            <ul>
                <li><a >Phone: +14879634002</a></li>
                <li><a >Email: c@rf@st@outlook.com</a></li>
                <li><a >Direcion: Cr16 #132-21 10155</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="terminos">
    <p>Copyright © 2021 Todos los derechos reservados | Este web site implica que usted acepta nuestras Políticas y Términos
</div>
    <!-- <div class="footer">
        <div class="img" >
            <img class="img-footer" src="../../../../assets/../assets/img//logo_2_Mesa_de_trabajo_1.png" alt="">
        </div>
        <div class="redes-sociales">
            <div class="iconos">
              <a class="icon"><i class="bi bi-whatsapp" ></i> </a> 
              <a class="icon"><i class="bi bi-facebook"></i></a> 
              <a class="icon"><i class="bi bi-instagram"></i> </a>
              <a class="icon"><i class="bi bi-google"></i></a>
    
            </div>
    
    
        </div>
        <div class="contacto">
           <p>Necesitas ayuda?</p>
           <a href="">Contactanos </a> 
           <p>para ayudarte</p>
    
        </div>
    </div> -->
  